.todo-container {
  display: flex;
  flex-direction: column;align-items: center;
  gap: 12px;
  margin-bottom: 25px;
}

.todo-container input {
  flex: 1;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 16px;
  outline: none;
  width:550px;
  transition: all 0.2s;
}

.todo-container input:focus {
  border-color: #a0af3c;
  box-shadow: 0 0 5px rgba(75, 141, 255, 0.5);
}

.todo-container button {
  padding: 12px 18px;
  border-radius: 12px;
  border: none;
  background-color: #8e90c2;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s;
  width:220px;
}

.todo-container button:hover {
  background-color: #2a0edc;
}

.list{
  text-align: center;
}